.intros {
    display: flex;
    gap: 2em;
    align-items: center;
    margin-top: 2em;
    /* background-color: var(--celeste); */
    border-left: 7px solid rgba(85, 81, 102, 1);


}


.intros div {
    width: 50%;
}


.account {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

}


.introtext {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding: 1em;
    color: rgba(85, 81, 102, 1);
    border-right: 7px solid rgba(85, 81, 102, 1);;
}



/* -------ACCOUNT/REGISTER/JOIN----------- */

.form-container {
    width: 50%;
    height: 100%;
    min-width: 300px;
    display: block;
    flex-direction: column;
    background-color: rgba(85, 81, 102, 1);
    border: 1px solid gray;
    border-radius: 5px;
    transition: 3s;
    margin-bottom: 2em;
   

}


.form-wrapper {
    margin-top: 2em;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    width: 60%;
    border-radius: 10px;
    margin: 0.3em 20%;
    padding: 2%;
    color: white;

}

.form-wrapper input {

    width: 60%;
    border-radius: 10px;
    margin: 0.3em 20%;
    padding: 2%;
    color: black;
}

.form-wrapper button {
    display: block;
    width: 40%;
    margin: 1em 30%;
    background-color: white;
    border: 1px solid black;
}

.form-wrapper button:hover {
    border: 1px solid white;
    background-color: var(--purple);
}

.form-container h3 {
    padding: 0.3em;
    color: white;
    width: 50%;
    margin: 1em 25%;
    font-size: 1.5em;
    border: 2px solid white;
}

@media only screen and (max-width: 800px) { 

    .intros {
        gap: 0.7em;
    }

    .form-wrapper {
        display: block;
    }

    .form-wrapper button {
        margin: 0 30%;
    }
    
    .form-container {
        height: fit-content;
        margin: 1em 1em;
    }

    .account {
        display: block;

    }





}