/* 
font-family: 'Didact Gothic', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Trispace', sans-serif; 
font-family: 'Albert Sans', sans-serif;
*/

:root {
  --sapphire: #1A659E;
  --celeste: #C2FCF7;
  --opal: #85BDBF;
  --queenblue: #416788;
  --redgray: #7A6263;
  --purple: rgba(85, 81, 102, 1);
}

a {
  text-decoration: none;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3em 0.5em;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: black;
  background-color: white;
  border: 2px solid rgba(85, 81, 102, 1);;
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  outline: 0;
  background-color: rgba(85, 81, 102, 1);
  color:white;
}

* {
  box-sizing: border-box;
  color: black;
  font-weight: bold;
  font-family: 'Albert Sans', sans-serif;

}

img {
  max-width: 100%;
}

body {
  opacity: 0.9;
}

.App {
  text-align: center;
  margin: 2em;
  height: 100vh;
  
}

.form-inputs {
  color: black;
  font-size: 1em;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-text {
  color:rgba(85, 81, 102, 1);
  font-size: 10vw;
  border-left: 5px double rgba(85, 81, 102, 1);
  border-bottom: 7px solid rgba(85, 81, 102, 1);
  width: fit-content;
  margin-left: 0.5em ;
  padding: 0 0.5em;
}

.home-photo-text {
  display: flex;
  height: fit-content;
  gap: 1em;
  justify-content: space-between;
  margin-bottom: 3em;

}

.home-photo-text p {
  font-size: 1.5em;
  text-align: right;
  padding-left: 2em;
}

.home-img {
opacity: 0.8;
margin-left: 10%;
width: 30%;
border-top: 4px solid rgba(85, 81, 102, 1);
border-right: 40px solid rgba(85, 81, 102, 1);

}

/*------------- CART -------------*/

.cart-container {
  width: 80%;
  margin: 3em 10%;
  border: 7px solid rgba(85, 81, 102, 1);
  border-radius: 15px;
  
}

.cart-item-img {
  width: 15vw;
}

.cart-item-img img {
  width: 15vw;
  border-radius: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  padding: 0.5em;
  margin-left: 3em;
  padding: 2em;

}

.quantity-price-buttons {
  position: relative;
  align-items: center;
  display: flex;
  gap: 1em;
  padding: 1em 1em;
  width: 100%;
}

.quantity-price-buttons button {
  margin: 0 0.5em;
}

.cart-price {
  font-size: 2vw;
}

.clear-cart {
  display: flex;
  justify-content: end;
  margin: 2em 2em;
}

.clear-cart button {
  color: rgba(85, 81, 102, 1);
}
.clear-cart button:hover {
  color: white;
}

.clear-msg {
  font-size: 2em;
  color:rgba(85, 81, 102, 1);
}

.cart-item-name {
  width: 50%;
  text-align: left;
  font-size: 1.5vw;
}

.totals > * {
  color: rgba(85, 81, 102, 1);
}

.checkout button {
  width: 30%;
  padding: 1em;
  background-color: var(--purple);
  color: white;
  font-weight: bold;
  margin: 1em 35%;
}






/* Filter Button */
.dropbtn {
  padding: 2em;
  margin: 1em 0;
  left: 0;
  z-index: 1;
  position: relative;
  color: black;
  padding: 0.3em;
  font-size: 1.3em;
  transition: 0.5s;
}

.filterList {
  width: 60%;
  border-radius: 10%;
  display: flex;
  align-items: center;
}



.sort-options {
  cursor: pointer;
  max-width: 100%;
  margin-left: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  font-size: 1em;
}

.sort-options a:hover  {
  color: var(--purple);
}

.products {
  grid-gap: 2em;
  align-items: stretch;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  justify-content: space-between;
  margin-bottom: 4em;
  margin-top: 1em;
  width: 100%;
  height: auto;
}

.product-card {
  /* opacity: 0.8; */
  background-color: white;
  border: 3px solid rgba(85, 81, 102, 1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateZ(0);
}

.product-card:hover {
  opacity: 1;
}

.image-wrapper {
  padding: 0.7em;
}

.product-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
 
}
.product-title {
     text-decoration: none;
    background-color: white;
    color: rgba(85, 81, 102, 1);;
    padding: 0.5em;
    border-radius: 10px;
    border: 2px solid rgba(85, 81, 102, 1);
}

.product-card:hover .product-title {
  background-color: rgba(85, 81, 102, 1);
  color:white;
}

.product-info {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.product-info button {
  padding: 0.5em 1em;
  border: 2px solid black;
  color: rgba(85, 81, 102, 1);
  background-color: white;
}

.product-info:hover button {
  background-color: rgba(85, 81, 102, 1);
  color: white;

}

.info-wrapper {
  padding-bottom: 2em;
  
}

.price {
  margin: 0;
  font-size: 1.5em;
  color: rgba(85, 81, 102, 1);
}


/* CATEGORIES */ 

.slider-section {
  display: flex;
  width: 100%;
  margin-top: 1em;
  border-radius: 10px;
  background-color: rgba(85, 81, 102, 1);
  opacity: 0.8;
 
}

.slider {
  margin: 0 25%;
  padding: 1em;
  width: 50%;
  position: relative;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.slide-active {
  width: 100%;
  height: 60%;
}

.slide-active img {
  width: 100%;
  height: 100%;
}


.carousel-img {
  width: 0;
  height: 0;
  border-radius: 10px;
}

.carousel-previous {
  margin: 0.3em;
  font-size: 2rem;
  color:  rgba(85, 81, 102, 1);;
  cursor: pointer;
  user-select: none;
  transition: 0.4s;
}

.carousel-previous:hover {
  background: rgba(85, 81, 102, 1);
  color: white;

}

.carousel-next {
  margin: 0.3em;
  margin-left: 0.3em;
  font-size: 2rem;
  color:  rgba(85, 81, 102, 1);;
  cursor: pointer;
  user-select: none;
  transition: 0.4s;
  
}

.carousel-next:hover {
  background:  rgba(85, 81, 102, 1);
  color: white;
}

.cat-active {
  margin: 0;
  padding: 0.5em 2em;
  background: white;
  text-decoration: none;
  color: rgba(85, 81, 102, 1);
  font-weight: bold;
  font-size: 2em;
  border-radius: 10px;
  transition: 0.4s;
}

.cat-active:hover {
  background:  rgba(85, 81, 102, 1);
  color: white;
  border: 3px solid white;

}

.cat-inactive {
  display: none;
}

.cat-main {
  display: none;
}

 /*------------ Payment Success ------------- */

 .order-summary h3 {
  color: var(--purple);
  border: 3px solid var(--purple);
  width: 50%;
  margin: 1em 25%;

 }






 /*------------  !!!!MEDIA QUERIES!!!------------- */


@media only screen and (max-width: 1200px) {

  .App {
    margin: 0 1.2em;
  }

  /*------------  Home------------- */

  .home-text {
    color:rgba(85, 81, 102, 1);
    font-size: 10vw;
    border-left: 5px double rgba(85, 81, 102, 1);
    border-bottom: 7px solid rgba(85, 81, 102, 1);
    width: fit-content;
    margin-left: 0.5em ;
    padding: 0 0.5em;
  }
  
  .home-photo-text {
    display: block;
    height: fit-content;
    gap: 1em;
    justify-content: space-between;
    margin-bottom: 3em;
  
  }
  
  .home-photo-text p {
    font-size: 1em;
    text-align: center;
    padding: 0;
  }

  .home-img {
    opacity: 0.8;
    margin: 0;
    width: 100%;
    border: 2px solid rgba(85, 81, 102, 1);

    }

     /* ------ PRODUCTS ----------*/

     .dropbtn {
      padding: 0 2em;
      margin: 0.5em 0;
      left: 0;
      z-index: 1;
      position: relative;
      color: var(--purple);
      padding: 0.3em;
      font-size: 1.3em;
    }
    
    .filterList {
      margin: 0 20%;
      width: 60%;
      border-radius: 10%;
      display: block;
      align-items: center;
    }

    .sort-options{
      margin-top: 0;
      margin-left: 2em;
      margin-right: 2em;
      display: flex;
      flex-direction: column;
      gap: 0.3em;

    }

    .sort-options div a {
      color: var(--purple);
      font-size: 0.7em;

    }

   

    /* ------ CATEGORIES ----------*/

  .slider {
    display: none;

  }

  .cats-words {
    display: none;
  }

  .cat-main {
    display: block;
    width: 80%;
    margin: 0 10%;
  }

  .cat-main h4 {
    width: 80%;
    margin: 1em 10%;
    font-size: 2em;
    background-color: var(--purple);
    padding: 0.5em;
    border-radius: 10px;
  }

  .cat-main a {
    color: white;
  }

  .row {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .cart-item-img {
    width: 100%;
  }
  .cart-item-img img {
    width: 100%;
    padding: 1em;
  }

  .cart-item-name {
    width: 80%;
    margin: 0 10%;
    font-size: 1em;
    align-items: center;
    justify-content: center;
  }
  .cart-price {
    font-size: 1em;
  }

.quantity-price-buttons {
  width: 80%;
  margin: 0 10%;
}
  
}







