.burger-navbar {
    display: none
}

@media only screen and (max-width: 1200px) {


nav {
    height: 10vh;
    margin-bottom: 0.5em;
}
   .container {
    max-width: 1050px;
    width: 100%;
    margin: 0;
    position: fixed;
    background-color: white;
    z-index: 99;
  }
  
  .burger-navbar {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    position: fixed;
  }
  
  .burger-navbar .menu-items {
    display: flex;
  }
  
  .burger-navbar .nav-container li {
    list-style: none;
  }
  
  .burger-navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .burger-navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: fixed;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 90%;
    width: 32px;
    z-index: 99;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: relative;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--purple);
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .burger-navbar .menu-items {
    padding-top: 120px;
    background-color: white;
    height: 100vh;
    width: 100vw;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .burger-navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .burger-navbar .menu-items li a {
    color: var(--purple)
  }
  
  .logo {
    width: 80%;
    text-align: right;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1em;
    height: 5vh;
    font-size: 1.2rem;
    color: #0e2431;
  }
  
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

  .cart-icon {
    background-color: white;
    width: fit-content;
    margin-left: auto;
    margin-right: 1.5em;
    font-size: 1.3em;


  }


}