.contact-title {
    text-align: left;
    margin-top: 2em;
    margin-left: 20%;
    font-size: 2em;
    width: fit-content;
    padding: 0 3em;
    border: 3px solid rgba(85, 81, 102, 1);
}

.contact-title h1 {
    color: rgba(85, 81, 102, 1);
}



.contact-container {
    width: 80%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color:rgba(85, 81, 102, 1);
    border: 1px solid gray;
    border-radius: 5px;
    transition: 3s;
    margin-bottom: 4em;
    align-items: center;

}

.contact-container h3 {
    border: white 2px solid;
    color: white;
    padding: 0.5em;
    width: fit-content;
}

.contact-wrapper {
    margin: 10% 25%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-wrapper button {
    width: 40%;
    margin: 2em 30%;
    background-color: white;
    border: 1px solid rgba(85, 81, 102, 1);
}

.contact-wrapper button:hover {
    border: 1px solid black;
}

label {
    width: 60%;
    border-radius: 10px;
    margin: 0.3em 20%;
    padding: 2%;
    color: white;

}

.contact-input {
    height: 100%;
    width: 60%;
    border-radius: 10px;
    margin: 4em 20%;
    padding: 2%;
    color: black;
    min-height: 20vh;
}

.contact-email-input {
    width: 40%;
    height: 3em;
    border-radius: 10px;
    margin: 0.3em 20%;
    padding: 2%;
    color: black;

}

.message {
    color: white;
}

@media only screen and (max-width: 1200px) {

    .contact-title {
        margin-left: 0;
        font-size: 1.3em;
    }

    .contact-wrapper {
        display: block;
        margin: 1em 5%;
    }
    

}