footer {
    width: 100%;
    margin: 0;
    border-top: 10px double rgba(85, 81, 102, 1);
    
}

footer div {
    width: 100%;
    text-align: center;
    margin: 2em 0;
}

.footerheader {
    font-size: 1.5em;
    margin: 0.7em 0;
}

.socials {
    
    display: flex;
    justify-content: space-evenly;
    color: rgba(85, 81, 102, 1);
    font-size: 3em;
    margin-top: 0;
    padding: 1em 0;
 
}

footer i:hover {
    color: rgba(85, 81, 102, 1);;
    cursor: pointer;
}