.header-words-main  {
    color: white;
    font-size: 4em;
    margin: 0;
}





.header-background {
    background-image: url(https://images.unsplash.com/photo-1605883705077-8d3d3cebe78c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80;);
    height: 20vh;
    background-blend-mode: lighten;
    border: 4px solid rgba(85, 81, 102, 1);;
    border-radius: 10px;

}