.navbar {
    height: 10vh;
    /* border-radius: 10px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: var(--opal); */
  }
  
  .account-cart {
    display: flex;
  }
  
  .account-cart > * {
    margin: 1em 1em;
    align-items: center;
    justify-content: center;
   
  }
  
 
  @media only screen and (max-width: 1200px) {

    .navbar {
        display: none;
    }
    
    
  }

  