* {
  max-width: 100%;
}

.singlecats {
    padding: 2em;
    grid-gap: 2em;
    align-items: stretch;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit,minmax(210px,2fr));
    justify-content: space-between;
    margin: 3em 10%;
    width: 80%;
    height: auto;
    /* border: 10px double var(--celeste); */
  }
  
  .cat-card {
    width: 100%;
    padding: 0;
    background-color: white;
    border: 3px solid rgb(85,81,102);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .image-wrapper {
    padding: 0.7em;
  }
  
  .cat-card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
   
  }

  .cat-card:hover .cat-title {
    background-color: rgba(85, 81, 102, 1);
    color:white;
  }

  .cat-title {
  
    text-decoration: none;
     background-color: white;
     color: rgba(85, 81, 102, 1);;
     padding: 0.5em;
     border-radius: 10px;
     border: 2px solid rgba(85, 81, 102, 1);
  }
  
  .cat-info {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 0;
    padding: 1em;
    background-color: white;
  }
  
  .cat-info button {
    padding: 0.5em 1em;
    border: 2px solid rgba(85, 81, 102, 1);
    color: rgba(85, 81, 102, 1);
    background-color:white;
  }

  .cat-info:hover button {
    background-color: rgba(85, 81, 102, 1);
    color: white;
  }
 
  
  .info-wrapper {
    padding-bottom: 2em;
    
  }
  
  .price {
    margin: 0;
    font-size: 1.5em;
  }
  


  /* -------------PRODUCTS---------------- */

  .singleProduct {
    margin: 3em 10%;
    width: 80%;
    display: flex;
    border-radius: 10px;

  }

  .singleProduct div {
    width: 50%;
    
  }


  .single-product-info {
    margin-left: 2em;
    padding: 1.5em;
    font-size: 2em;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: left;
    border: 6px double rgb(85,81,102);
 
  }

  .single-product-info div {
    width: 80%;
    margin-top: 2em;
    
  }

  .single-product-info div button {
    width: 50%;
    padding: 1.5em;
    margin-top: 3em;
  }


  .single-product-img img {
    margin: 0;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border-bottom: 50px double rgb(85,81,102);
  
  }

  .single-product-info h3 {
    font-size: 1.5em;
    display: block;
    align-items: center;
    padding: 0.3em;
    color: var(--purple);
    border: 2px solid white;
 
  }

  .single-product-info p {
    font-size: 0.5em;
    color: black;
    font-style: italic;
    
 
  }

  .price-addtocart {
    display: block;
    margin-left: auto;
    margin-right: 0;
    gap: 2em;
  }

  @media only screen and (max-width: 1200px) { 

    .singlecats {
    align-items: stretch;
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    padding: 0;
    margin: 1em 0;
    width: 100%;
    height: auto;
    }

    .singleProduct {
      display: block;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 100%;
    }

  

  .singleProduct div {
      width:100%;
      display: block;
      align-items: center;
      justify-content: center;
      margin: 2em 0;

  }

  .singleProduct img {
    width: 100%;
    display: block;

}
  .single-product-info {
      /* margin-left: 2em; */
      /* padding: 1.5em; */
      font-size: 2em;
      display: block;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 6px double rgb(85,81,102); }
  }

  .single-product-info div button {
    
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 1em 25%;
    }



